body {
	padding-bottom: 70px;
	color:#373737;
  	background: #f2f2f2;
  	font-size: 16px;
 	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  	line-height: 1.5;
  	-webkit-font-smoothing: antialiased;
  	padding-bottom: 100px;
}

.masthead {
    color:#FFFFFF;
    background-image:url("banner.jpg");
    background-repeat:no-repeat;
    height:200px;
}

.affix {
	top: 0;
	width: 100%;
	z-index: 10000;
}
	
.affix + .container-fluid {
	padding-top: 70px;
}

.navbar .navbar-collapse {
	text-align: center !important;
	padding-bottom: 15px !important;
}
		
.navbar-nav {
	display: inline-block;
	float: none;
	font-size: 18px !important;
	height: 29px;
}
		
.navbar-inverse {
	border-radius: 0px;
	background-color: #373737;
	font-color: white;
}
		
.navbar-inverse .navbar-nav > li > a {
  	color: white !important;
}	
		
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    	color: #C52B5E !important;
}
		
		h2 {
  			margin: 10px 0;
  			font-weight: 700;
  			color:#222222;
  			font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  			letter-spacing: -1px;
 			text-align: center;
 			font-size: 32px;
		}
		
		hr {
  			border-top: 1px dashed #d7d7d7; !important;
       			margin-top:5px !important;
		}
		
		a.anchor {
			display: block;
			position: relative;
			top: -60px;
    		}
    		
		img.img-header {
 			max-height: 100px;
 			
		}
		
		img.img-in-text {
			min-height: 100px;
			padding-bottom: 5%;
			padding-top: 5%;
		}
		
		div.head {
			background: linear-gradient(#78bf4e, #5db64e);
			height:200px;
			padding-top: 40px;
		}
		
		dd.indent {
			padding-left: 20px;
			font-style: italic;
		}
		
		.navbar-nav > li{
  			padding-left:20px;
  			padding-right:20px;
			font-size: 0.9em;
		}
			
			
